body{
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", Arial, SansSerif, serif;
}
.main-button{
    margin: 5px;
    padding: 15px;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    background-color: dodgerblue;
    color: white;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.5s;
}
.thin-button {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.thin-button:hover {
    background-color: #10559a;
}
.thin-button .flex-content{
    transition: all 0.5s;
    display: none;
}
.thin-button:hover .flex-content {
    display: flex;
}
.main-button:hover {
    background-color: #10559a;
}
.sub-scroll-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
.img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.img-overlay::-webkit-scrollbar{
    display: none;
}
.content-overlay{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    z-index: 100;
    color: white;
}
.content-overlay .title{
    color: white;
    font-size: 75px;
    font-weight: bolder;
    margin: 5px;
}
.content-overlay .content{
    margin: 5px;
    color: white;
    font-size: 30px;
    font-weight: normal;
    color: white;
}
.highlight-static-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
    padding: 10px;
    border-radius: 5px;
    width: auto;
    height: fit-content;
    background-image: linear-gradient(#f8f8f8, #f8f8f8);
    font-family: "Microsoft YaHei UI";
}
.highlight-static-block .title{
    margin-top: 5px;
    padding: 3px;
    font-size: 25px;
    font-weight: bolder;
}
.highlight-static-block .row-display {
    margin: 5px;
    padding: 5px;
    width: auto;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.static-item-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 275px;
    margin: 5px;
    padding: 10px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
}
.static-item-box:hover {
    background-color: white;
}
.static-item-box .title{
    margin: 5px;
    font-weight: bold;
    font-size: large;
}
.static-item-flex-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 97%;
    height: fit-content;
    margin: 5px;
    padding: 10px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
}
.static-item-flex-box .row-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.static-item-flex-box .column-display {
    display: flex;
    flex-direction: column;
}
.static-item-flex-box .title {
    font-size: larger;
    font-weight: bold;
}
.static-item-box .content {
    text-align: center;
}
.static-item-flex-box:hover {
    background-color: white;
}

/*Navigation Bar*/
.navigate-bar {
    position: sticky;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: auto;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2000;
    transition: all 0.1s;
}
.navigate-bar:hover {
    background-color: white;
}
.navigate-bar .element {
    margin: 0;
    padding: 15px 10px;
    width: fit-content;
    height: auto;
    cursor: pointer;
    transition: all 0.1s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.navigate-bar .element:hover {
    background-color: rgba(0, 0, 0, 0.07);
}
.navigate-bar .element .title {
    /*margin-left: 10px;*/
    font-size: larger;
    font-weight: bold;
}

/*Menu details overlay*/
#full-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 0; /*Changed by JS*/
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 4000;
    transition: 0.5s;
}
.full-menu-overlay .corner-btn{
    position: absolute;
    top: 5px;
    left: 5px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}
.full-menu-overlay .button-item{
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.1s;
}
.full-menu-overlay #active{
    background-color: dodgerblue;
    color: white;
}
.full-menu-overlay .button-item:hover{
    background-color: rgba(0,0,0,0.2);
}
.content-flex-box {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.title-box {
    margin: 0;
    padding: 15px 40px;
    background-image: linear-gradient(dodgerblue, #1464b2);
    color: white;
    display: flex;
    flex-direction: column;
}
.title-box h1 {
    margin-bottom: 5px;
}
.title-box .content {
    margin-bottom: 30px;
}
.tab-panel{
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: fit-content;
}
.tab-panel .button {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    transition: all 0.1s;
}
.tab-panel .button:hover {
    background-color: #bae0ff;
    color: dodgerblue;
}
.timeline-box{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(255,255,255,0);
    cursor: pointer;
    transition: all 0.1s;
}
.timeline-box:hover {
    background-color: rgba(0,0,0,0.05);
}
.timeline-line-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.timeline-line-box .line {
    margin-left: 5px;
    margin-right: 5px;
    width: 5px;
    height: 100%;
    background-color: #115699;
}
.timeline-line-box .time-box{
    border-radius: 5px;
    margin: 5px;
    padding: 7.5px;
    background-color: dodgerblue;
    color: white;
    font-size: 35px;
    font-weight: bold;

}
.timeline-content-box {
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin: 15px;
    flex: 4;
    justify-content: center;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.05);
}
.timeline-content-box .word-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 3;
}
.timeline-content-box .picture-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 2;
}
.timeline-box:hover .timeline-content-box {
    background-color: #bae0ff;
}
.timeline-content-box h2 {
    margin-top: 7px;
    margin-bottom: 7px;
    font-weight: normal;
    color: #10477d;
}
.timeline-content-box h3 {
    margin-top: 7px;
    margin-bottom: 7px;
    font-weight: normal;
    color: #10477d;
}
.timeline-content-box .highlight-block {
    width: auto;
    height: fit-content;
    margin: 5px;
    padding: 7px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: #bae0ff;
    transition: all 0.1s;
}
.timeline-box:hover .highlight-block {
    background-color: #87c2ff;
}
.static-box {
    margin: 10px;
    padding: 7px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.05);
    display: flex;
    flex-direction: row;
    width: auto;
    height: fit-content;
    cursor: pointer;
    transition: all 0.1s;
}
.static-box:hover {
    background-color: rgba(0,0,0,0.15);
}
.static-box .content{
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex: 4;
}
.static-box .img {
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.static-box .content-box {
    margin: 5px;
}
.row-display{
    display: flex;
    flex-direction: row;
}